.env
public/js
public/css
public/hot
public/libs
public/fonts
public/storage
resources/assets/libs
public/mix-manifest.json
/storage/*.key
/node_modules
/.idea
/vendor
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
npm-debug.log