/* Tablet and smaller devices */
@media screen and (max-width: 920px) {
	.desktopOnly {
		display: none !important;
	}
	.mobileOnly {
		display: block !important;
	}
}
/* Smartphones */
@media screen and (max-width: 640px) {
	body {
		font-size: 0.6em;
	}
	footer {
		text-align: center;
	}
}