.text-center {
    text-align: center;
}
.relative {
    position: relative;
}
.desktopOnly {
    display: block;
}
.mobileOnly {
    display: none;
}
.panel-title {
    padding: 10px;
}
.text-white {
	color: #fff;
}
.capitalize {
	text-transform: capitalize;
}
.cursor-pointer {
	cursor: pointer;
}
.color-inherit {
	color: inherit;
}
#app {
	overflow: hidden;
}
.cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}